Repository apoclyps/my-dev-space, pull requests merged in 2018-11, with the labels that each got.

#549 Rolling up Dependabot client PRs
  package-lock.json
  package.json
  services/client/package-lock.json
  services/client/package.json
Labels: dependencies

#538 Adding Events Calendar
  services/client/package-lock.json
  services/client/package.json
  services/client/src/App.js
  services/client/src/components/calendar/index.js
  services/client/src/components/calendar/styles.js
  services/client/src/components/header/navigation.js
  services/client/src/pages/calendar/index.js
  services/events/Pipfile.lock
  services/events/project/__init__.py
  services/events/project/api/calendar.py
Labels: Feature, javascript, python

#557 Use shared event schema module
  lambdas/eventbrite/handlers/schemas/event-schema.json
  lambdas/eventbrite/handlers/transformer.js
  lambdas/eventbrite/package-lock.json
  lambdas/eventbrite/package.json
  lambdas/farsetlabs/handlers/schemas/event-schema.json
  lambdas/farsetlabs/handlers/transformer.js
  lambdas/farsetlabs/package-lock.json
  lambdas/farsetlabs/package.json
  lambdas/meetupcom/handlers/schemas/event-schema.json
  lambdas/meetupcom/handlers/transformer.js
  lambdas/meetupcom/package-lock.json
  lambdas/meetupcom/package.json
Labels: javascript, lambda

#556 Update Eventbrite lambda to use new utils module
  lambdas/eventbrite/config.js
  lambdas/eventbrite/handlers/producer.js
  lambdas/eventbrite/handlers/transformer.js
  lambdas/eventbrite/package-lock.json
  lambdas/eventbrite/package.json
  lambdas/eventbrite/utils.js
  lambdas/tests/eventbrite/handlers/producer.test.js
  lambdas/tests/eventbrite/handlers/tranformer.test.js
  lambdas/tests/eventbrite/test-utils.js
Labels: javascript, lambda

#553 Tests for Farsetlabs Calendar lambdas
  lambdas/package-lock.json
  lambdas/tests/farsetlabs/handlers/__snapshots__/tranformer.test.js.snap
  lambdas/tests/farsetlabs/handlers/producer.test.js
  lambdas/tests/farsetlabs/handlers/test-data/events-payload-empty.json
  lambdas/tests/farsetlabs/handlers/test-data/events-payload-incomplete.json
  lambdas/tests/farsetlabs/handlers/test-data/events-payload-invalid.json
  lambdas/tests/farsetlabs/handlers/test-data/events-payload-populated.json
  lambdas/tests/farsetlabs/handlers/tranformer.test.js
  lambdas/tests/farsetlabs/test-utils.js
Labels: javascript, lambda, tests

#565 Update remaining lambdas to use new utils module
  lambdas/eventbrite/handlers/producer.js
  lambdas/eventbrite/handlers/transformer.js
  lambdas/farsetlabs/config.js
  lambdas/farsetlabs/handlers/producer.js
  lambdas/farsetlabs/handlers/transformer.js
  lambdas/farsetlabs/package-lock.json
  lambdas/farsetlabs/package.json
  lambdas/farsetlabs/utils.js
  lambdas/meetupcom/config.js
  lambdas/meetupcom/handlers/producer.js
  lambdas/meetupcom/handlers/transformer.js
  lambdas/meetupcom/package-lock.json
  lambdas/meetupcom/package.json
  lambdas/meetupcom/utils.js
  lambdas/tests/farsetlabs/handlers/producer.test.js
  lambdas/tests/farsetlabs/handlers/tranformer.test.js
  lambdas/tests/farsetlabs/test-utils.js
Labels: javascript, lambda

#563 Bumping nginx to latest
  services/client/Dockerfile-prod
  services/nginx/Dockerfile
  services/swagger/Dockerfile-dev
  services/swagger/Dockerfile-prod
  services/swagger/Dockerfile-stage
Labels: dependencies, docker

#564 Refactoring health checks into a single check
  services/events/project/__init__.py
  services/events/project/api/developers.py
  services/events/project/api/events.py
  services/events/project/api/healthcheck.py
  services/events/project/api/speakers.py
  services/events/project/api/videos.py
Labels: Type: Cleanup, flask, python

#571 Removing title case from video titles
  package-lock.json
  services/client/src/components/video/content.js
Labels: javascript

#594 Event service task runner
  README.md
  docker-compose-dev.yml
  services/events/project/scripts/README.md
  services/events/project/scripts/__init__.py
  services/events/project/scripts/meetup_tool.py
  services/events/project/tests/models/__init__.py
  services/events/project/tests/models/test_meetup_model.py
Labels: python

#602 Adding unit test for events component
  services/client/package.json
  services/client/src/pages/events/components/tests/__snapshots__/index.spec.js.snap
  services/client/src/pages/events/components/tests/index.spec.js
Labels: javascript, tests
